*{
    box-sizing: border-box;
}

body{
    font-size: 100%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 31%;
  }
  
  div.gallery:hover {
    border: 1px solid #106eea
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    padding: 2px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  img {
  box-shadow: 2px;
}

.bot{
width: 50%;
text-align: center;
background-color: #106eea;
margin-left: auto;
margin-right: auto;

border: 1px black;
}
strong{
  color: white;
  
}